<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PonfeLibrary</title>
    <link rel="stylesheet" href="~/style/normalize.css"/>
    <link rel="stylesheet" href="~/style/style.css" />
</head>
<body>
    <header>
        <nav class="nav-container">
            <div class="title-container">
                <a class="" asp-area="" asp-controller="Book" asp-action="Show">PonfeLibrary</a>
            </div>
            <div class="items-container">
                <ul class="">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Book" asp-action="Show">Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Genre" asp-action="Show">Genres</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Publisher" asp-action="Show">Publishers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Author" asp-action="Show">Authors</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header> 
    <main role="main" class="">
        @RenderBody()
    </main>
    <footer>
        <div class="container">
            2020   &copy;   Enzo Ponferrada
        </div>
    </footer>

   <!--<script src="~/js/site.js" asp-append-version="true"></script>-->
    @RenderSection("Scripts", required: false)
</body>
</html>
