@using PonfeLibrary.Models
@{
}

@foreach (var a in ViewBag.Authors)
{
    <div class="author-container">
            <div>
                <div class="author">
                    <h4>@a.Name</h4> <br>
                    <h5>@a.Nationality</h5>

                </div>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@a.Id">Edit</a>
                <a asp-action="Delete" asp-route-id="@a.Id">Delete</a>
            </div>
    </div>
}
