@model PonfeLibrary.Models.Book

@{
}
<div class="edit-page">
    <h5 class="page-title">Editing Publisher</h5>

    <div class="form-container">
        <form id="edit-form" asp-action="edit">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-input">
                <label asp-for="Title"></label>
                <input asp-for="Title" />
                <span asp-validation-for="Title"></span>
            </div>
            <div class="form-input">
                <label asp-for="Subtitle"></label>
                <input asp-for="Subtitle" />
                <span asp-validation-for="Subtitle"></span>
            </div>
            <div class="button-holder">
                <input type="submit" hidden />
                <a onclick="document.getElementById('edit-form').submit()">Save</a>
                <a asp-action="Show">Cancel</a>
            </div>
        </form>
    </div>
</div>