.medium-container{
    background:var(--color3);
    padding:1rem;
    border-radius:3px;
    width: 45%;
    margin: 1rem 0;
    height: 30%;
}


.small-container {
    background: var(--color3);
    padding: 1rem;
    border-radius: 3px;
    width: 20%;
    margin: 1rem 0;
    height:20%;
}

.details-text {
    transition: all .5s;
}

.fade-out{
    opacity:0;
}

#details-arrow{
    cursor:pointer;
}

#details-arrow :hover{
    background:rgba(255,255,255,.3);
}

    #details-arrow > a {
        display: flex;
        padding: 5px;
        height: .5rem;
        align-items: center;
        width: 100%;
        border-radius: 3px;
        justify-content: center;
        transition: background ease .5s
    }

.button-holder {
    display: flex;
    position: relative;
    top: 1rem;
    padding: 0rem .5rem .5rem .5rem;
    justify-content: right;
}

    .button-holder > a {
        color: var(--color1);
        padding: .5rem 1rem;
        border-radius: 3px;
        transition: background-color ease-in .5s;
        cursor: pointer;
    }

    .button-holder>a:hover {
        background-color: var(--color2);
    }

.form-container{
    width:40%;
    padding: 2rem 0;
    background: var(--color6);
    border-radius:3px;
    margin-bottom:1rem;
}

.book-form{
    width:fit-content;
}

.book-edit-info{
    display:flex;
    justify-content:space-evenly;
  
}
    .book-edit-info>div{
        margin: 0 10px;
        width:fit-content;
    }
    
        .book-edit-info>div>div{
            width:100%;
        }

#edit-form, #add-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label{
    line-height:1.5rem;
    margin-left:.5rem
}

input {
    padding: .5rem;
    background: var(--color5);
    color: #e9e9e9;
    border: solid transparent 3px;
    border-radius: 3px;
    outline: none;
    overflow:hidden;
}

input:focus {
    border: solid var(--color2) 3px;
}

textarea {
    padding: .5rem;
    background: var(--color5);
    color: #e9e9e9;
    border: solid transparent 3px;
    border-radius: 3px;
    outline: none;
    overflow: hidden;
    min-height: 1rem;
    resize:none;
}

    textarea:focus {
        border: solid var(--color2) 3px;
    }



