/*W3School*/

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
}
.modal-content {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-around;
    position:relative;
    background-color: #121212;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--color1);
    border-radius: 3px;
    width: 40%;
    height:10rem;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.5s;
    animation-name: animatetop;
    animation-duration: 0.5s
}

.modal-content > span{
    color: #e1e1e1;
}

.modal-show{
    display:block;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}
