:root {
    --color1: rgba(233,30,99, 1);
    --color2: rgba(233,30,99, .16);
    --color3: rgba(233,30,99, .14);
    --color4: rgba(233,30,99, .11);
    --color5: rgba(233,30,99, .08);
    --color6: rgba(233,30,99, .07);
}

* {
    font-family: 'Mandali', sans-serif;
}

body {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    box-sizing:border-box;
}
a{
    text-decoration:none;
}
ul{
    list-style-type:none;
    display:flex;
}

header {
    background-color: var(--color3);
    height: 3rem;
}
.nav-container{
    display:flex;
    justify-content:space-between;
}
.title-container{
    padding-left:3rem;
    align-self:center;
}
    .title-container > a {
        font-size: 2rem;
        color: #e9e9e9;
   
    }
.items-container{
    display:flex;
    padding-right:3rem;
    height:3rem;
    align-items:center;
}
.nav-item{
    padding:.5rem 0;
    margin-left:2rem;
    border:solid 1px;
    border-color: var(--color1);
    border-radius:3px;
    transition: background-color ease-in .5s;
}
    .nav-item > a{
        color: #e9e9e9;
        padding: .5rem 1rem;
    
    }

.nav-item:hover{
    cursor:pointer;
    background-color: rgba(255,255,255,.2);
}

main{
    background-color: var(--color5);
    min-height: calc(100vh - 5rem);
    padding: 0 3rem;
    color:#e9e9e9;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.add-button {
    position: fixed;
    bottom: 10%;
    right: 5%;
    background-color: var(--color1);
    border-radius: 50%;
    cursor:pointer;
}

.add-item{
    position:relative;
    top: 1.5rem;
    color: #e1e1e1;
    padding: .5rem .5rem;
    margin:1rem .5rem;
    cursor:pointer;
    border-radius:3px;
    transition: background-color  ease .5s;
}

.add-item:hover {
    background-color: rgba(255,255,255,.2);
}

#add-icon {
    color: #e9e9e9;
    padding: 15px;
    border-radius: 50%;
}

footer {
    background-color: var(--color2);
    color: lightcoral;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-page{
    display:flex;
    flex-direction:column;
    width:100%;
    height: 100%;
    align-items:center;
}

.page-title{
    font-size: 24px;
}